.__modal {
	display: none;
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, 0.6);
	padding: auto 25%;
	margin-top: 52px;

}
@media only screen and (max-width: 968px){
	.__modal {
	margin-top: 52px;
	display: none;
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, 0.6);
	padding: auto 1rem;

}
}

.form-control {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: stretch;
  align-items: center;
  background: var(--panel);
  padding: 10px;
  color: whitesmoke;

}
.pointCss {
	cursor: pointer;
}

.showModal:hover {
	cursor: pointer;
	font-weight: bolder;
}

.showModal {
	cursor: pointer;
}

.__modalWrapper {
	display: grid;
	background: white;
	grid-template-columns: auto auto;
	grid-template-rows: 50px auto auto;
}

.__modalContent {
	padding: 0;
	overflow: auto;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-column-end: 3;
	font-size: 1em;
	max-height: 200px;
	font-family: monospace;
	background: white;
}


.__modalHeader {
	display: flex;
	padding: 1rem;
	font-size: 1em;
	grid-column: 1/3;
	grid-row: 1/2;
	font-family: monospace;
	text-transform: capitalize;
	justify-content: space-between;
	background: var(--brand);
	color: #aaaaaa;


}
.__modalHeader span#close {
	display: flex;
	justify-items: center;
	align-items: center;
	color: #aaaaaa;
	cursor: pointer;
	padding: 10px 0px;
	font-size: 1.5em;
}

.__modalFooter {
	grid-column: 1/3;
	grid-row: 3/3;
	padding: 1rem;
	font-size: 1em;
	font-family: monospace;
	color: white;
	text-transform: capitalize;
	background: mediumvioletred;

	justify-content: space-between;
	align-content: center;
}