
#admin-sidebar {
	padding-left: 4px;
	padding-right: 4px;
	background: #234;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: left;
	position: sticky;
	top: 50px;
	z-index: 1;
}


.spc {
	margin-right: 8px;
	margin-left: 2px;
}


#navbar-light {
	background: var(--navbar-light);
}



div.side-link {
	display: flex;
	justify-content: left;
	align-items: center;
	flex-direction: row;
	/*max-width: 300px;*/
	cursor: pointer;
	padding: 8px 0px;
	line-height: 20px;
	box-shadow: 0px 5px rgb(8 36 64 / 15%);
	margin-bottom: 5px;
}
.side-link:hover {
	background: var(--navbar-light);
}

.active {
	background: var(--navbar-light);
}

@media only screen and (max-width: 768px){
 .link-side,div.link-item {
		margin: 4px 10px;
		color: white;
		padding: 0px;
		font-size: 0.9em;
		font-family: "Times New Roman";
		text-transform: capitalize;
		overflow: hidden;
	}

	div.side-link {
		justify-content: left;
		background: var(--root-bg);
		border-radius: 0px;
		padding: -5px 4px;
		align-items: center;
	}

}



.link-item {
	margin-left: 10px;
	margin-right: 10px;
	color: white;
	font-size: 1em;
	font-family: "Times New Roman";
	text-transform: capitalize;
}


.link_side {
	padding: 5px 8px;
	display: inline-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}